<section class="header">
  <img class="avatar" alt="picture of Carlos Rodriguez" src="{{site.url}}/files/helvetica.jpg">
  <div class="author">
    <h2>Hi, we are HomelessHands.</h2>
    <p>
      	We are an anonymous, decentralized charity based in Santa Cruz, CA.
    </p>
    <p>
    	We give free techno shows to homeless people on the street, and other goodies like socks full of quarters or other pocket items.
    </p>
    <p>
    	There is no membership or central entity, JUST DO IT!
    </p>
  </div>
</section>
<hr>
